client_name=itisFarzin
api_id=123456
api_hash=abcdefg123456
bot_token=123456:abcdefg123456
plugins_folder=plugins
log_name=bot
log_level=20 # INFO
log_dir=data
log_max_size_mb=1
log_backup_count=2
admins=@FarzinKazemzadeh,@itisFarzin # The delimiter is a comma
tz=Europe/London
proxy=socks5://127.0.0.1:8080
use_system_proxy=yes
cmd_prefixes=. / # The delimiter is a space
db_uri=sqlite:///data/database.db
plugins_repo=https://github.com/6AMStuff/itisFarzinBotPlugins
