client_name=
api_id=
api_hash=
bot_token=
plugins_folder=
log_name=
log_level=
log_dir=data
log_max_size_mb=1
log_backup_count=2
admins=@itisFarzin
proxy= # socks5://127.0.0.1:8080
use_system_proxy= # yes
cmd_prefixes= # . /
db_uri=sqlite:///data/database.db
