name: Docker Build and Push

on:
  workflow_dispatch:
  push:
    tags:
      - "v**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Docker meta (Standard)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value={{branch}},enable={{is_default_branch}}
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}

      - name: Build and Push (Standard)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILDTIME=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
          cache-from: type=gha,scope=standard
          cache-to: type=gha,mode=max,scope=standard

      - name: Docker meta (Minimal)
        id: meta-min
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=minimal,enable={{is_default_branch}}
            type=semver,pattern=minimal-v{{version}}
            type=semver,pattern=minimal-v{{major}}.{{minor}}

      - name: Build and Push (Minimal)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.minimal
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-min.outputs.tags }}
          labels: ${{ steps.meta-min.outputs.labels }}
          build-args: |
            BUILDTIME=${{ fromJSON(steps.meta-min.outputs.json).labels['org.opencontainers.image.created'] }}
            VERSION=${{ fromJSON(steps.meta-min.outputs.json).labels['org.opencontainers.image.version'] }}
            REVISION=${{ fromJSON(steps.meta-min.outputs.json).labels['org.opencontainers.image.revision'] }}
          cache-from: type=gha,scope=minimal
          cache-to: type=gha,mode=max,scope=minimal
